doctype true
html(style='margin: 0;padding: 0;', xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width')
        meta(name='robots', content='noindex,nofollow')
        meta(property='og:title', content='#{subject}')
body
    block content
    block footer
        div.footer
          p ---------
            br
            | Regards
          p Support Team Simsaw Inc
    div(style='line-height:40px;font-size:40px;')  

