@font-face {
  font-family: 'BentonSans-Bold';
  src: url('/fonts/BentonSans-Bold/BentonSans-Bold.eot');
  src: url('/fonts/Raleway-Regular/Raleway-Regular.svg')
  format('svg'), url('/fonts/BentonSans-Bold/BentonSans-Bold.woff')
  format('woff'), url('/fonts/BentonSans-Bold/BentonSans-Bold.ttf')
  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeUI-Light';
  src: url('/fonts/SegoeUI-Light/SegoeUI-Light.eot');
  src: url('/fonts/SegoeUI-Light/SegoeUI-Light.svg')
  format('svg'), url('/fonts/SegoeUI-Light/SegoeUI-Light.woff')
  format('woff'), url('/fonts/SegoeUI-Light/SegoeUI-Light.ttf')
  format('truetype');
  font-weight: normal;
  font-style: normal;
}
